$black:#1E2320;
$white:#D9D9D9;
$red:#CD3535;
$coolFont:"JetBrains Mono", monospace;
$defaultFont:"Inter", sans-serif;;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');